* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
  }

  html, body {
    height: 100%; /* Set height to 100% for full viewport height */
  }
  
  body {
    background-color: #f5f5f5;
    color: #333;
    justify-content: center; 
    align-items: center;
  }

  .wrapper {
      height: 100%; 
      padding: 20px; 
      border-left: 40px solid white; 
      border-right: 40px solid white;
      border-bottom: 40px solid white;
      overflow-y: auto; 
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
  }
  
  header h1 {
    font-size: 2em;
    font-family: 'Roboto', monospace;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    font-size: 0.9em;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #e63946;
  }

  nav ul li a .number {
    color: #e63946; 
    margin-right: 5px; 
    font-weight: bold;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
  }
  
  .intro {
    max-width: 600px;
  }
  
  .intro h2 {
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 50px;
    font-family: 'Roboto', monospace;
  }
  
  .intro p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: 'Tajawal', sans-serif;
  }
  
  .highlight {
    color: #e63946;
    font-family: 'Tajawal';
  }
  
  .linkedin-button {
    display: inline-block;
    padding: 12px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .linkedin-button:hover {
    background-color: #555;
  }
  
  .image-container {
    flex-shrink: 0;
    margin-top: 10px;
  }
  
  .image-container img {
    width: 320px;
    height: auto;
    border-radius: 5px;
  }

  .resume {
    max-width: 100%;
    padding-bottom: 20px;
  }

  .resume h2 {
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: 'Roboto', monospace;
  }

  .resume-container {
      width: 65vw;
      height: calc(100vh - 120px); 
  }

  .experience h2 {
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 50px;
    font-family: 'Roboto', monospace;
  }

  .experience ul {
    list-style: none;
    padding-left: 0;
  }

  .experience li {
    margin-bottom: 30px;
  }

  .job-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .company-name {
    font-weight: bold;
  }

  .date {
    font-size: 0.9em;
    color: #666;
  }

  .job-title {
    font-size: 1.1em;
    font-style: italic;
    margin-bottom: 10px;
    font-weight: normal;
    color: red;
  }

  .project-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

  .project-image {
      width: 550px;
      height: auto;
      margin-bottom: 10px;
  }

  .details {
    list-style-type: disc !important;
    padding-left: 20px;
    margin-top: 5px;
    color: #333;
  }

  .details li {
    list-style-position: inside;
    margin-bottom: 5px;
  }

  iframe {
      width: 100%;
      height: 100%;
      border: none; 
  }
      